.header {
  border: 2px solid var(--header-outline);
  padding: 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 50;

  &__logo {
    width: 30%;
  }

  &__scoreBoard {
    background-color: #ffffff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 10rem;
  }

  &__text {
    text-transform: uppercase;
    color: var(--score-text);
    letter-spacing: 0.4rem;
  }

  &__score {
    font-weight: 700;
    font-size: 6rem;
    color: var(--dark-text);
  }
}
